* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #181818;
  color: #f0f0f0;
  line-height: 1.6;
  scroll-behavior: smooth;
}

header {
  background: #222;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: rgb(221, 221, 221);
  font-weight: 600;
}

nav a:hover {
  color: #00d084;
}

.section {
  padding: 100px 20px 60px;
  min-height: 80vh;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

h1, h2 {
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
}
.abt{
    font-family: 'Poppins', sans-serif;
    font-size:20px ;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
  display: inline-block;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: #2a2a2a;
  color: white;
}

button {
  padding: 10px;
  background: rgb(0, 208, 132);
  border: none;
  border-radius: 4px;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background: rgb(0, 208, 132);
}

footer {
  background: #222;
  text-align: center;
  padding: 15px;
  font-size: 0.9rem;
  color: #aaa;
}

/* Minimal animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.image-text-container {
  display: flex;
  align-items: center;      /* Vertically center */
  gap: 20px;                /* Space between image and text */
  padding: 20px;
}

.left-image {
  width: 300px;             /* Set image width */
  height: 450px;
  border-radius: 8px;
  margin-left:250px;
  
         /* Optional: rounded corners */
}

.right-text {
  flex: 1;                  /* Take remaining space */
  font-family: Arial, sans-serif;
}
.skills-container {
  max-width: 600px;
  margin: auto;
  text-align: left;
}

.skillbar {
  width: 100%;
  background-color: #eee;
  border-radius: 8px;
  margin-bottom: 15px;
  height: 20px;
  overflow: hidden;
}

.bar {
  height: 100%;
  background-color: #007BFF;
  transition: width 1s ease;
}
}
.menu-toggle {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  text-align: right;
  top: 0;
  position: fixed;
  padding-right: 1rem;
}
@media screen and (max-width: 768px) {
  .menu-toggle{
    display: block;
     width: 100%;  
  }
}
